@import './variables.scss';
@import './element-ui.scss';
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700,900&display=swap');
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #777;
  font-family: 'Rubik', Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

#app {
  height: 100%;
  background-color: transparent !important;
}

h1 {
  // font-size: 2em;
  margin-block-start: 0px !important;
}

.navbar {
  height: 60px;
  // overflow: hidden;
  // position: relative;
  // background-color: white;
  border: none;
  color: white;
  z-index: 100;
  transition: background-color 1s ease 0s;
  top: 0;
  position: fixed;
  width: 100%;
  // background-color: #232020 !important;
  // box-shadow: 0 1px 4px rgba(0,21,41,.08);

  .right-menu {
    float: right;
    height: 100%;
    line-height: 60px;
    margin-right: 40px;
    text-decoration: none;

    &:focus {
      outline: none;
    }

    .right-menu-item {
      display: inline-block;
      padding: 0 8px;
      height: 100%;
      font-size: 1.1em;
      color: white;
      vertical-align: text-bottom;

      &.lang {
        font-size: 1.7em;
      }

      &.hover-effect {
        cursor: pointer;
        transition: background .3s;

        &:hover {
          background: rgba(0, 0, 0, .025)
        }
      }
    }

    .avatar-container {
      margin-right: 30px;

      .avatar-wrapper {
        margin-top: 5px;
        position: relative;

        .user-avatar {
          cursor: pointer;
          width: 40px;
          height: 40px;
          border-radius: 10px;
        }

        .el-icon-caret-bottom {
          cursor: pointer;
          position: absolute;
          right: -20px;
          top: 25px;
          font-size: 12px;
        }
      }
    }
  }

  .btn_connexion {
    // background-color: #4370F3;
    color: white;
    text-decoration: none;
  }
}
